.card {
  width: 200px;
  height: 200px;
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 10px;
  margin: 40px;
  position: relative;
  border: 1px solid black;
  transition: transform 0.4s;
}

.from-top { transform:translateY(16px);
  border: 3px solid gray;
  }
.from-right { transform:translateX(-16px);
  border: 3px solid gray;
}
.from-bottom { transform:translateY(-16px);
  border: 3px solid gray;
  }
.from-left { transform:translateX(16px);
  border: 3px solid gray;
  }
.center { transform: none;}
