*{
    margin: 0;
    padding: 0;
    border: 0;
}

#scroller{
    margin: auto;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
}

#slider{
    width: inherit;
    height: inherit;
    
    display: inherit;
    flex-direction: column;

    transform: none;
    transition: transform 0.5s ease-in-out;
}

.slider img{
  width: 800px;
  height: 800px;
  object-fit: cover;
}