:root{
    --card-size: 180px;
    --screen-size: 800px
}

*{
    padding: 0;
    margin: 0;
}

.main{
    position: relative;
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 800px;   
    height: 800px;
}

.scroller{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid red;
    display: flex;
}
.scroller::-webkit-scrollbar{
    display: none;
}

.slider{
    width: inherit;
    height: inherit;
    
    display: inherit;
    flex-direction: column;

    z-index: 1;
    transform: none;
    transition: transform 0.5s ease;
}

.slider img {
  width: 800px;
  height: 800px;
  object-fit: cover;
}

#games{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.game{
    margin: 13px;
    width: var(--card-size);
    height: var(--card-size);
    border: 2px solid white;
    transition: transform 0.5s;
    opacity: 0.5s;
}

.selected{
    transform: scale(1.05);
    border: 2px solid grey;
}

.title{
    margin-top: 10%;
    width: var(--screen-size);
    height: var(--screen-size);
    background-color: antiquewhite;
    display: flex;
    flex-direction: column-reverse;
}

.color-0{
    background-color: lightblue;
}
.color-1{
    background-color: lightcoral;
}
.color-2{
    background-color: lightgray;
}
.color-3{
    background-color: lightseagreen;
}