*{
    margin: 0;
    border: 0;
    padding: 0;
}

.l-container{
    margin:16pt;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.u-middle{
    align-content: center;
    width: 100%;
}

.c-card{
    width: 128px;
    height: 128px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 10px;
    margin: 16pt;
    position: relative;
    transition: transform 0.4s;
}

.c-cover, .c-canvas{
  width: 99%;
  height: 99%;
}

.from-top { transform:translateY(16px); }
.from-right { transform:translateX(-16px); }
.from-bottom { transform:translateY(-16px); }
.from-left { transform:translateX(16px); }
.center { transform: none; }
